/*csslint box-sizing: false*/
body {
    box-sizing: border-box;
    margin:0;
}

img {
    width:100%;
}

table {
    border-spacing: 10px;
}

table th {
    border: 2px solid #000;
    padding: 3px;
}

table td {
    border: 1px solid #000;
    padding: 3px;
    text-align: center;
}
